<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BFData.Properties.Settings.AppData_Contexts_LeoBaseContextConnectionString"
            connectionString="Data Source=DESKTOP-18Q7336\SQLEXPRESS;Initial Catalog=AppData.Contexts.LeoBaseContext;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>